<p id="notice"><%= notice %></p>

<center><h1>Lista de tipos de documentos</h1></center>

<%= link_to new_tipo_doc_path, class: "btn btn-primary", remote: true do %>
<span class="glyphicon glyphicon-plus"></span> Nuevo
<% end %>

<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tipo_docs %>
</table>

<br>

<div class="col-md-4">
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @tipo_docs.count %></span>
    Tipos documentos:
  </li>
</ul>
</div>


