<footer class="footer">
<small>
By MYNOMBRE Todos los derechos reservados © 2014 ::.
</small>
<nav>
    
<ul>
<div class="row">  
<div class="col-md-6">
<li><%= link_to "Creditos", about_path %></li>
<li><%= link_to "Contacto", posts_path %></li>
</div>
</div>
<li><a href="http://www.MIPAGINA.co/">MYCOMPAÑIA</a></li>
</ul>
</nav>
</footer>